<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pharmadia - Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div id="search-container">
        <h1>Pharmadia</h1>
        <input type="text" id="search-bar" placeholder="Cari penyakit...">
        <button onclick="searchDisease()">Cari</button>
        <button onclick="startListening()">🎤</button>
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
