<!DOCTYPE html>
<html>
    <head>
        <title>Learn With Us</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='style/materi.css') }}">
    </head>
    <body>
        <div class="header">
            <div class="header-left-section">
                <a href="{{ url_for('homepage') }}">
                    <img class="logo" src="{{ url_for('static', filename='image/logo.png') }}">
                </a>
            </div>
            <div class="header-right-section">
                <a href="{{ url_for('materi') }}" class="materi-link">
                    <button class="materi-button">Materi</button>
                </a>
                <span class="greeting">Welcome!</span>
            </div>
        </div>

        <div class="main">
            <div class="main-container">
                <p class="container-text">Pilih Materimu</p>
                <div class="container-filling">
                    <div class="container-course">
                        <a href="{{ url_for('indocourse') }}">
                            <span class="container-title">Bahasa Indonesia</span>
                        </a>
                        <img class="voice-button" src="{{ url_for('static', filename='image/voice.png') }}">
                    </div>
    
                    <div class="container-course">
                        <a href="{{ url_for('engcourse') }}">
                            <span class="container-title">Bahasa Inggris</span>
                        </a>
                        <img class="voice-button" src="{{ url_for('static', filename='image/voice.png') }}">
                    </div>
                </div>
            </div>
        </div>

        <script src="script/homepage.js"></script>
    </body>
</html>