body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
}

#search-container, #result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search-bar {
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    margin: 5px;
}

#result-container {
    margin-top: 20px;
}
