<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Figtree:ital,wght@0,300..900;1,300..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">

    <title>Admin - Buat Penyakit</title>
</head>
<body>
    <div class="container-for-navbar-for-admin">
        <div class="navbar-left">
            <ul>
                <li><a href="/disease">Kembali</a></li>
            </ul>
        </div>
        <div class="navbar-right">
            <ul>
                <li><a href="/">Halaman Utama</a></li>
                <li><a href="/aboutUsForUser">Tentang Kami</a></li>
                <li><a href="/feedback">Feedback</a></li>
                {% if 'user_id' in session %}
                <li><a href="/admin">Admin</a></li>
                <li><a href="/logout">Keluar</a></li>
                {% else %}
                <li><a href="/login">Masuk (untuk admin)</a></li>
                {% endif %}
            </ul>
        </div>
    </div>

    <div class="create-page">
    <div class="create-page-container">
        <h2 class="title">Buat Penyakit</h2>
        <div class="create-page-content">
            <form method="POST" action="/createDisease">
                <div class="form-group-create-page">
                    <label for="penyakit_nama" class="form-label-create-page">Nama Penyakit</label>
                    <input type="text" class="form-control-create-page" id="penyakit_nama" name="penyakit_nama" placeholder="Masukkan Nama Penyakit" required>
                </div>
                <div class="form-group-create-page">
                    <label for="penyakit_penanganan" class="form-label-create-page">Penanganan Penyakit</label>
                    <textarea class="form-control-create-page" id="penyakit_penanganan" name="penyakit_penanganan" rows="5" placeholder="Masukkan Penanganan Penyakit" required></textarea>
                </div>
                <div class="form-group-create-page">
                    <label for="penyakit_obat" class="form-label-create-page">Obat</label>
                    <input type="text" class="form-control-create-page" id="penyakit_obat" name="penyakit_obat" placeholder="Masukkan Obat" required>
                </div>
                <div class="form-group-create-page">
                    <label for="penyakit_deskripsi" class="form-label-create-page">Deskripsi Penyakit</label>
                    <textarea class="form-control-create-page" id="penyakit_deskripsi" name="penyakit_deskripsi" rows="5" placeholder="Masukkan Deskripsi Penyakit" required></textarea>
                </div>
                <div class="button-create-page">
                    <button type="submit" class="button-create-page">Buat</button>
                </div>
            </form>
        </div>
    </div>
    </div>

    <script src="{{ url_for('static', filename='script/script.js') }}"></script>
</body>
</html>
